.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
media/upload/bukti/baj/16/bukti_baj-W2-Mar-16/bukti_baj-W2-Mar-16.jpg
.gitignore
media/upload/dokumen/baj/16/rab_baj-16.pdf
media/upload/dokumentasi/baj/16/k3sp_baj_16.jpg
media/upload/dokumentasi/baj/16/material_baj_16.jpg
